
<table>
	<tr>
		<td width ="70%">
			<div class="hero-unit">
			  <h1>MiRuta.com</h1>
				</br>
			  <p>Una forma sencilla de encontrar una ruta que cumpla con tus requerimientos</p>
			</br>
			</div>
		</td>
		<td width ="20%"></td>
		<td>
			<div class="form-signin">
			<table >
				 <p><%= form_tag index_path, :method => 'post' do %>
			      <tr>
			          <td><h1 class="form-signin-heading">Regístrate</h1></br></td>
			      </tr>
			      <tr>
			          <td> <%= text_field_tag :email, params[:email], :placeholder => 'Email' %></td>
			      </tr>
			      <tr>
			          <td> <%= password_field_tag :password, params[:pasword], :placeholder => 'Contraseña'%></td>
			      </tr>
			      <tr><td><%= submit_tag "Aceptar",  :name => 'index', class: "btn btn-large btn-primary"%> </tr></td>
			      <tr><td><%= link_to 'Soy nuevo', signup_path%> </tr></td>
			    <% end %>
				</td></tr>
			</table>
		</div>
		</td>
	</tr>
</table>