<table >
	 <p><%= form_tag index_path, :method => 'post' do %>
      <tr>
          <td><h1 class="form-signin-heading">¿Cuál es MiRuta?</h1></br></td>
      </tr>
      <tr>
          <td width="500px"> <%= text_field_tag :inicial, params[:inicial], :placeholder => '¿Dónde estás? Ej. calle 127 con carrera 7',class: "campo"%></td>
      </tr>
      <tr>
          <td> <%= text_field_tag :final, params[:final], :placeholder => '¿Cuál es tu destino? Ej. calle 154 con carrera 19',class: "campo"%></td>
      </tr>
      <tr><td><%= submit_tag "Dame MiRuta",  :name => 'index', class: "btn btn-large btn-primary"%> </tr></td>
      <tr><td><%= link_to 'Ayuda', signup_path%> </tr></td>
    <% end %>
	</td></tr>
</table>